<div style="min-height: 50vh" class="content-section">
  <form style="height:100%" class="vertical-flex" (ngSubmit)="submit()" #userEditProfile="ngForm">
    <div class="user-edit-form container-fluid">
      <div class="row">
        <div class="col-md-3 col-12 m-auto">
          <label for="name">Nombre:</label>
        </div>
        <div class="col-md-7 col-12 m-auto">
          <input type="text" id="name" [(ngModel)]="model.name" name="name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-12 m-auto">
          <label for="surname">Apellido:</label>
        </div>
        <div class="col-md-7 col-12 m-auto">
          <input type="text" id="surname" [(ngModel)]="model.surname" name="surname">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-12 m-auto">
          <label for="email">Email:</label>
        </div>
        <div class="col-md-7 col-12 m-auto">
          <input type="text" id="email" [(ngModel)]="model.email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-12 m-auto">
          <label for="phone">Teléfono:</label>
        </div>
        <div class="col-md-7 col-12 m-auto">
          <input type="text" id="phone" [(ngModel)]="model.phone" name="phone">
        </div>
      </div>
    </div>

    <button class="user-edit-form">GUARDAR LOS CAMBIOS</button>
  </form>
</div>
