.splitter {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.splitter-bg-image {
  position: fixed;
  z-index: 1;
  width: 50%;
  height: 100%;

  background-size: 100%;
  background-position: bottom;
  filter: blur(5px);
}

.content {
  position: fixed;
  z-index: 2;
  width: 50%;
  height: 100%;
}

.card {
  width: 40%;
  aspect-ratio: 1 / 1;
  border-radius: 2em;
  font-size: 3em;
  text-align: center;
  color: black;
  transition: 0.3s;
  opacity: 0.7;
}

.card:hover {
  width: 50%;
  font-size: 3.3em;
  opacity: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.club {
  background-image: url(../../assets/images/selector-club-image.svg);
}

.user {
  background-image: url(../../assets/images/selector-user-image.svg);
}
