<header class="d-md-none">
    <div class="nav-mobile user-header">
        <img class="logo" src="../../../../assets/images/user-header-images/logo.svg">
        <img onclick="dropdown()" class="mobileNavbarBtn" src="../../../../assets/images/user-header-images/mobileNavbarBtn.svg" value="0">
    </div>
</header>

<header id="menu_principal" class="user-header d-none d-md-flex">
    <img id="logo_principal" alt="logo" class="logo" src="../../../../assets/images/user-header-images/logo.svg">
    <nav id="nav_principal" class="nav col-5 col-md-7">
        <a href="user-edit-profile.html"><img class="logonav" src="../../../../assets/images/user-header-images/personamenu.png"></a>
        <a href="user-statistics.html"><img class="logonav" src="../../../../assets/images/user-header-images/estadisticasmenu.png"></a>
        <a href="user-choose-day.html"><img class="logonav" src="../../../../assets/images/user-header-images/partidomenu.png"></a>
        <a href="user-tournaments.html"><img class="logonav" src="../../../../assets/images/user-header-images/torneomenu.png"></a>
        <a href="user-matches-for-playing.html"><img class="logonav" src="../../../../assets/images/user-header-images/pendientemenu.png"></a>
        <a href="../HomePage/index.html"><img class="logonav" src="../../../../assets/images/user-header-images/logoutmenu.png"></a>
    </nav>
</header>