<header class="container-fluid">
    <div class="d-md-none row" style="z-index: 4;">
        <div class="nav-mobile user-header">
            <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/logo.svg?alt=media&token=6b152402-04cc-45c3-8532-2a6aaae6bc0c">
            <img (click)="showNav()" class="mobileNavbarBtn" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/mobileNavbarBtn.svg?alt=media&token=7c8c5436-85a4-433d-a7a1-077a1c20431e" >
        </div>
        <div class="row navmini" *ngIf="show">
            <nav>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/personamenu.png?alt=media&token=737cf25c-8630-4311-8657-f5b2a5cf556e"><div class="col margin-auto"><span class="margin-auto__content">Perfil</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/estadisticasmenu.png?alt=media&token=58ffe31b-d573-482c-ab63-ae8a41776652"><div class="col margin-auto"><span class="margin-auto__content">Estadisticas</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/partidomenu.png?alt=media&token=8c66249d-badd-4f5f-b0b1-ef1a7fc7d686"><div class="col margin-auto"><span class="margin-auto__content">Agregarse a Partidos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/torneomenu.png?alt=media&token=e2507ac8-48d3-45df-91c2-4db0adea1e69"><div class="col margin-auto"><span class="margin-auto__content">Agregarse a Torneos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/pendientemenu.png?alt=media&token=9422ecef-305c-4d72-beb8-99cea02e4062"><div class="col margin-auto"><span class="margin-auto__content">Mis Partidos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/logoutmenu.png?alt=media&token=edd5ca5f-48a9-4d75-8072-c5fdb0209ffa"><div class="col margin-auto"><span class="margin-auto__content">Log Out</span></div></div>
            </nav>
        </div>
    </div>

    <div id="menu_principal" class="user-header d-none d-md-flex row">
        <img id="logo_principal" alt="logo" class="logo" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/logo.svg?alt=media&token=6b152402-04cc-45c3-8532-2a6aaae6bc0c">
        <nav id="nav_principal" class="nav col-5 col-md-7">
            <img class="logonav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/pendientemenu.png?alt=media&token=9422ecef-305c-4d72-beb8-99cea02e4062">
            <img class="logonav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/pendientemenu.png?alt=media&token=9422ecef-305c-4d72-beb8-99cea02e4062">
            <img class="logonav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/partidomenu.png?alt=media&token=8c66249d-badd-4f5f-b0b1-ef1a7fc7d686">
            <img class="logonav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/torneomenu.png?alt=media&token=e2507ac8-48d3-45df-91c2-4db0adea1e69">
            <img class="logonav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/logoutmenu.png?alt=media&token=edd5ca5f-48a9-4d75-8072-c5fdb0209ffa">
        </nav>
    </div>
</header>