.text-align-center {
  text-align: center;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 1em;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#contact-image {
  aspect-ratio: 16 / 9;
  height: 15em;
}
