<aside class="content-section vertical-flex">
  <img [src]="userInfo.img" class="user-profile-picture">
  <div class="user-info-display content-section">
    <p id="aside-name"></p>
    <div>
      <p>Partidos jugados:</p>
      <p id="aside-played-games"> {{ userInfo.playedGames }} </p>
    </div>
    <div>
      <p>Partidos ganados:</p>
      <p id="aside-won-games"> {{ userInfo.wonGames }}</p>
    </div>
    <div>
      <p>Partidos perdidos:</p>
      <p id="aside-lost-games"> {{ userInfo.playedGames - userInfo.wonGames }}</p>
    </div>
    <div>
      <p>Ranking:</p>
      <p id="aside-rank">{{ userInfo.rank }}</p>
    </div>
    <div>
      <p>Puntuación:</p>
      <p id="aside-points">{{ userInfo.points }}</p>
    </div>
  </div>
</aside>
