@media (max-width: 720px) {
    .hidden{
        display: none;
    }    
}

.columClubs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}


.imgClub{
    text-align: center;
}

.nameClub{
    text-align: center;
    color: black;
}

img{
    width: 40%;
}