<div style="min-height: 50vh" class="col content-section">
    <form>
        <section class="user-days rounded-corners row">
            <h1 class="schedule-header">Selecciona el club</h1>

            <div class="columClubs">
                <div class="vertical-flex" *ngFor="let club of clubs">
                    <img class="imgClub"[src]="club.img" style="cursor: pointer;" [routerLink]="['/user/chooseMatch',club.uid]">
                    <p class="nameClub" style="cursor: pointer;" [routerLink]="['/user/chooseMatch',club.uid]">{{club.name}}</p>
                </div>
            </div>
        </section>
    </form>
</div>
  