  <header class="container-fluid">
    <div class="d-md-none row" style="z-index: 4;">
        <div class="nav-mobile user-header">
            <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Flogo.svg?alt=media&token=a3bddf79-da93-48d9-b834-c8dfae3e4ff5">
            <img (click)="showNav()" class="mobileNavbarBtn" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2FmobileNavbarBtn.svg?alt=media&token=99f4d5b7-7d0b-471a-ad8e-0814f1faa9b3" >
        </div>
        <div class="row navmini" *ngIf="show">
            <nav>
                <div class="row hoverNav"><img [routerLink]="['/user/profile']" class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpersonamenu.png?alt=media&token=fe4886c5-a7a6-4d39-8286-cc5cdc290372"><div class="col margin-auto"><span class="margin-auto__content">Perfil</span></div></div>
                <div class="row hoverNav"><img [routerLink]="['/user/statistics']" class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Festadisticasmenu.png?alt=media&token=0bfc0fc4-12f1-4fcd-8dd5-a37ed5eca4bd"><div class="col margin-auto"><span class="margin-auto__content">Estadisticas</span></div></div>
                <div class="row hoverNav"><img [routerLink]="['/user/chooseDay']" class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpartidomenu.png?alt=media&token=d86e528a-2a56-43a6-a194-63096ca9bdfc"><div class="col margin-auto"><span class="margin-auto__content">Agregarse a Partidos</span></div></div>
                <div class="row hoverNav"><img [routerLink]="['/user/profile']" class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpendientemenu.png?alt=media&token=868f3323-eb67-46b6-b794-f750a882bdf2"><div class="col margin-auto"><span class="margin-auto__content">Mis Partidos</span></div></div>
                <div class="row hoverNav"><img (click)="logOut()" [routerLink]="['/']" class="lognav col" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Flogoutmenu.png?alt=media&token=b201eafd-6dc7-4220-9177-2de8e06bdd9f"><div class="col margin-auto"><span class="margin-auto__content">Log Out</span></div></div>
            </nav>
        </div>
    </div>

    <div id="menu_principal" class="user-header d-none d-md-flex row">
        <img id="logo_principal" alt="logo" class="logo" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Flogo.svg?alt=media&token=a3bddf79-da93-48d9-b834-c8dfae3e4ff5">
        <nav id="nav_principal" class="nav col-5 col-md-7">
            <img [routerLink]="['/user/profile']" class="logonav hoverNav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpersonamenu.png?alt=media&token=fe4886c5-a7a6-4d39-8286-cc5cdc290372">
            <img [routerLink]="['/user/statistics']" class="logonav hoverNav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Festadisticasmenu.png?alt=media&token=0bfc0fc4-12f1-4fcd-8dd5-a37ed5eca4bd">
            <img [routerLink]="['/user/chooseDay']" class="logonav hoverNav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpartidomenu.png?alt=media&token=d86e528a-2a56-43a6-a194-63096ca9bdfc">
            <img [routerLink]="['/user/profile']" class="logonav hoverNav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Fpendientemenu.png?alt=media&token=868f3323-eb67-46b6-b794-f750a882bdf2">
            <img (click)="logOut()" [routerLink]="['/']" class="logonav hoverNav" src="https://firebasestorage.googleapis.com/v0/b/pwm-padel.appspot.com/o/NAV%2Flogoutmenu.png?alt=media&token=b201eafd-6dc7-4220-9177-2de8e06bdd9f">
        </nav>
    </div>
</header>
