.nav-mobile {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1.5em;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.user-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    width: 7.5em;
}

.mobileNavbarBtn {
    margin-right: 2em;
    width: 5em;
    height: 8em;
    cursor: pointer;
}

@media (max-width: 992px) {
    .logonav{
        width: 4em;
    }

    .logo{
        width: 5em;
    }

    .lognav{
        max-width:  100px;
        max-height: 100px;
        padding: 10px;
    }

    .user-header{
        padding: 10px;
    }
}

.navmini{
    width: 100%;
    height: 80%;
    margin-top: 148px;
    padding: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    position:absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    text-align: center;
}

.margin-auto {
    display: flex;
    height: 100px;
    width: 100px;
}

.margin-auto__content{
    margin: auto;
}

.hoverNav:hover{
    background-color: rgba(0, 0, 0, 0.70);
    cursor: pointer;
}