  <header class="container-fluid">
    <div class="d-md-none row" style="z-index: 4;">
        <div class="nav-mobile user-header">
            <img class="logo" src="../../../../assets/images/user-header-images/logo.svg">
            <img (click)="showNav()" class="mobileNavbarBtn" src="../../../../assets/images/user-header-images/mobileNavbarBtn.svg" >
        </div>
        <div class="row navmini" *ngIf="show">
            <nav>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/personamenu.png"><div class="col margin-auto"><span class="margin-auto__content">Perfil</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/estadisticasmenu.png"><div class="col margin-auto"><span class="margin-auto__content">Estadisticas</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/partidomenu.png"><div class="col margin-auto"><span class="margin-auto__content">Agregarse a Partidos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/torneomenu.png"><div class="col margin-auto"><span class="margin-auto__content">Agregarse a Torneos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/pendientemenu.png"><div class="col margin-auto"><span class="margin-auto__content">Mis Partidos</span></div></div>
                <div class="row hoverNav"><img class="lognav col" src="../../../../assets/images/user-header-images/logoutmenu.png"><div class="col margin-auto"><span class="margin-auto__content">Log Out</span></div></div>
            </nav>
        </div>
    </div>

    <div id="menu_principal" class="user-header d-none d-md-flex row">
        <img id="logo_principal" alt="logo" class="logo" src="../../../../assets/images/user-header-images/logo.svg">
        <nav id="nav_principal" class="nav col-5 col-md-7">
            <a href="user-edit-profile.html"><img class="logonav" src="../../../../assets/images/user-header-images/personamenu.png"></a>
            <a href="user-statistics.html"><img class="logonav" src="../../../../assets/images/user-header-images/estadisticasmenu.png"></a>
            <a href="user-choose-day.html"><img class="logonav" src="../../../../assets/images/user-header-images/partidomenu.png"></a>
            <a href="user-tournaments.html"><img class="logonav" src="../../../../assets/images/user-header-images/torneomenu.png"></a>
            <a href="user-matches-for-playing.html"><img class="logonav" src="../../../../assets/images/user-header-images/pendientemenu.png"></a>
            <a href="../HomePage/index.html"><img class="logonav" src="../../../../assets/images/user-header-images/logoutmenu.png"></a>
        </nav>
    </div>
</header>
