<header class="container-fluid">
    <div class="d-md-none row">
        <div class="nav-mobile user-header">
            <img class="logo" src="../../../../assets/images/user-header-images/logo.svg">
            <img class="mobileNavbarBtn" src="../../../../assets/images/user-header-images/mobileNavbarBtn.svg" >
            <!-- <img (click)="dropdown()" class="mobileNavbarBtn" src="../../../../assets/images/user-header-images/mobileNavbarBtn.svg" > -->
        </div>
        <div class="row">
            <nav>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/personamenu.png"><p class="col">Perfil</p></div>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/estadisticasmenu.png"><p class="col">Estadisticas</p></div>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/partidomenu.png"><p class="col">Agregarse a Partidos</p></div>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/torneomenu.png"><p class="col">Agregarse a Torneos</p></div>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/pendientemenu.png"><p class="col">Mis Partidos</p></div>
                <div class="row"><img class="lognav col" src="../../../../assets/images/user-header-images/logoutmenu.png"><p class="col">Log Out</p></div>
            </nav>
        </div>
    </div>

    <div id="menu_principal" class="user-header d-none d-md-flex row">
        <img id="logo_principal" alt="logo" class="logo" src="../../../../assets/images/user-header-images/logo.svg">
        <nav id="nav_principal" class="nav col-5 col-md-7">
            <a href="user-edit-profile.html"><img class="logonav" src="../../../../assets/images/user-header-images/personamenu.png"></a>
            <a href="user-statistics.html"><img class="logonav" src="../../../../assets/images/user-header-images/estadisticasmenu.png"></a>
            <a href="user-choose-day.html"><img class="logonav" src="../../../../assets/images/user-header-images/partidomenu.png"></a>
            <a href="user-tournaments.html"><img class="logonav" src="../../../../assets/images/user-header-images/torneomenu.png"></a>
            <a href="user-matches-for-playing.html"><img class="logonav" src="../../../../assets/images/user-header-images/pendientemenu.png"></a>
            <a href="../HomePage/index.html"><img class="logonav" src="../../../../assets/images/user-header-images/logoutmenu.png"></a>
        </nav>
    </div>
</header>
