<app-header></app-header>
<h2 class="text-align-center">PREGUNTAS FRECUENTES</h2>
<section>
  <article>
    <h3>¿PUEDO ACCEDER A TODOS LOS CENTROS COLABRADOS CON MI CUENTA?</h3>
    <p>
      Es una de nuestras ventajas. Con tu cuenta podrás apuntar en cualquiera
      de los centros colaborados con nosotros, sin gestiones ni pago adicional.
    </p>
  </article>

  <article>
    <h3>¿CUANTOS CENTROS ESTAN COLARADOS CON NOSOTROS?</h3>
    <p>
      Un total de 192 instalaciones a tu disposición en 4 islas.
    </p>
  </article>

  <article>
    <h3>¿HAY QUE PAGAR MATRCULA?</h3>
    <p>
      En nuestro sitio web no se paga matrícula de inscripción.
      Tan solo tu cuenta en el momento del alta.
    </p>
  </article>

  <article>
    <h3>¿HAY PERMANENCIA?</h3>
    <p>
      No, inscríbete sin preocuparte por ello
    </p>
  </article>

  <article>
    <h3>¿QUE DOCUMENTOS SON NECESARIOS?</h3>
    <p>
      email, nombre, apellido y telefono
    </p>
  </article>
</section>
<app-foother></app-foother>

