/* Classes that edit the menu */
.logo{

    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.grid-nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.nav{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    display:inline-block;
    text-align: center;
}

.nav a{

    margin: auto;
}

.nav a:hover{
    margin: auto;
    background-color: rgb(49, 53, 53);
}

/* Classes that edit the background screen */

.bg-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logged-user-image{
    background-image: url(../../images/user-bg-imagen.jpg);
}

/* Classes that edit the component of the body */
                /* tag main */
.user-days{
    margin: 1.5625rem;
    background-color: #C4C4C4;
}

.schedule-grid{
    display: grid;
    grid-template-rows: repeat(10, 2rem);
    grid-template-columns: repeat(7, 1fr);
}

.days-grid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 10px;
}

.match-hour:not(:checked), 
.match-hour:checked {
    display: none;
}

.match-hour + label {
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 0.5em;
    user-select: none;
}
  
.match-hour:checked + label {
    background-color: lightgreen;
}

.schedule-header{
    background-color: rgb(60, 57, 86);
    margin-bottom: 2rem;
    text-align: center;
}
.add-match{
    padding: 2rem;
    display: grid;
    grid-template: 
        ". add-match ." min-content / auto auto auto;
}

.add-match-submit{
    background-color: rgb(60, 57, 86);
    border-radius: 15px;
    padding-top: 1rem;
    grid-area: add-match;
}
.center-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The same in the aside*/
.rounded-corners{
    border-radius: .5rem;
}

            /* aside */
.login-view-sidebar{
    margin-right: 25px;
    grid-area: sidebar;
    background-color: rgb(196, 196, 196);
}





